<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>

<div class="row">
  <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.caption %></td>
        <td><div class="panel-body"><img src="<%= photo.image %>"class="img-responsive"></td>
        <td><%= photo.user_id %></td>
        <td>
          <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
          <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
        <td>
          
                    <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="jkpbmHPTurcwD0lHafrspyUfKQ9IQRuHsi7G17EAAMAT5TJRCsWcE4D/ckXl3FHZMXhGrWU87ZFH7oeJjykyFA==">

                <input type="hidden" name="photo_id" value="139">

                <input type="hidden" name="user_id" value="187">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <div class="input-group">
                    <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>

                    <span class="input-group-btn">
                      <button class="btn btn-default" type="submit">
                        <i class="fa fa-commenting-o"></i>
                      </button>
                    </span>
                  </div><!-- /input-group -->
                </div>
              </form>
            </div>
          </li>
          
        </td>
      </tr>
      
      <% end %>
    </table>
  </div>
</div>
